<div class="card">

  <table class="table table-condensed" *ngIf="passengers.length">
    <thead>
    <tr>
      <th>Id</th>
      <th>Firstname</th>
      <th>Name</th>
      <th *ngIf="editable"></th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let p of passengers">
      <td><span class="badge badge-pill badge-info">
              {{ p.id }}
            </span></td>
      <td>{{ p.firstName }}</td>
      <td>{{ p.name }}</td>
      <td *ngIf="editable">
        <a
          (click)="onEditClicked(p)"
          class="btn btn-success btn-sm"
          style="min-width: 85px">
          Edit
        </a>
      </td>
    </tr>
    <tbody>
  </table>

</div>
